@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family:'Ubuntu', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    height: 65px;
    color: white;
}

nav ul li{
    padding: 0 12px;
    font-size: 1rem;
    cursor: pointer;
}
.brand img{
    width: 50px;
    padding: 0 8px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}
.container{
    min-height: 63vh;
    background-color: black;
    color:white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 85vw;
    border-radius: 12px;
    padding: 34px;
    background-image: url('/helper/bg2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;

}
.bottom{
    position: sticky;
    bottom: 0;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    width: 90vw;
    margin: auto;
    border-radius: 12px;
}
#myProgressBar{
    width: 80vw;
}
.icons{
    margin-top: 14px;
}
.icons i{
    margin-left: 10px;
    cursor: pointer;
}
.icons i:hover{
    color: rgb(43, 210, 28);
}
.songItemContainer{
    margin-top: 14px;
    
}
.songItem{
    height: 47px;
    display: flex;
    background-color:black;
    color: rgb(238, 227, 227);
    width: 70%;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    /* font-weight: bold; */
    /* border: solid 2px lightblue; */
}
.songItem:hover{
    border: solid 2px gray;
}
.songItem i:hover{
    color: rgb(43, 210, 28);

}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border: 1px solid white;
    border-radius: 14px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 5vw;
    font-size: large;
    font-family:'Varela Round', sans-serif;
}
.songInfo img{
    margin: 0px 3px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}